body {
  background-color: var(--light);
}
main {
  margin-left: 2rem;
  margin-right: 2rem;
}

h1 {
  font-size: 1.5rem;
}

.site-header {
  margin-bottom: 1rem;
}

#searchInput {
  margin-right: 0.25rem;
}

.control-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.control-container h2 {
  font-size: 1.125rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.category-container div {
  margin-right: 1rem;
}

input[type="checkbox"] {
  accent-color: var(--primary);
}

.hover-rows tr:hover {
  box-shadow: inset 0 0 0 0.125rem var(--primary);
  cursor: pointer;
}

.table-container {
  height: 80vh;
  overflow-y: scroll;
  background-color: #fff;
}

thead th {
  position: sticky;
  top: 0;
  top: -1px;
  background-color: #fff;
}
