body {
  background-color: var(--light);
}
main {
  margin-left: 2rem;
  margin-right: 2rem;
}

h1 {
  font-size: 1.5rem;
}

.site-header {
  margin-bottom: 1rem;
}

.search-container {
  position: relative;
}

.search-container input {
  width: 200px;
  padding-right: 30px; /* Add padding to accommodate the clear button */
}

.search-container button {
  margin-left: 0.5rem; /* Small space between input and search button */
}

.clear-input {
  position: absolute;
  right: 8px; /* Position clear button inside input field */
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  z-index: 2;
  color: var(--secondary);
  cursor: pointer;
  line-height: 1rem;
  transition: 0.25s ease-in;
}

.clear-input:hover {
  background-color: #00000020;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.control-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.control-container h2 {
  font-size: 1.125rem;
}

.category-container div {
  margin-right: 1rem;
}

input[type="checkbox"] {
  accent-color: var(--primary);
}

.hover-rows tr:hover {
  box-shadow: inset 0 0 0 0.125rem var(--primary);
  cursor: pointer;
}

.table-container {
  height: 80vh;
  overflow-y: scroll;
  background-color: #fff;
}

thead th {
  position: sticky;
  top: 0;
  top: -1px;
  background-color: #fff;
}
