<section id="addProductModal">
  <div id="underlayAP"></div>
  <div class="modalContent">
    <button class="closeButton" onclick="closeAddProduct()">&times;</button>
    <div class="modalInfo">
      <h1>Add Product</h1>
      <div class="flex-row justify-between">
        <div class="form-group">
          <label for="newProductName">Name</label>
          <input
            class="form-control"
            type="text"
            id="newProductName"
            name="newProductName"
            maxlength="30"
          />
        </div>
        <div class="form-group">
          <label for="newProductUPC">UPC</label>
          <input
            class="form-control"
            type="text"
            id="newProductUPC"
            name="newProductUPC"
            maxlength="12"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
          />
        </div>
        <div class="form-group">
          <label for="newProductCategory">Category</label>
          <select
            name="newProductCategory"
            id="newProductCategory"
            class="w-100"
          >
            <option value="Produce">Produce</option>
            <option value="Dairy">Dairy</option>
            <option value="Pantry">Pantry</option>
            <option value="Meat">Meat</option>
            <option value="Seafood">Seafood</option>
            <option value="Beverages">Beverages</option>
            <option value="Frozen">Frozen</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="newProductDesc">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="newProductDesc"
          name="newProductDesc"
          maxlength="300"
        ></textarea>
      </div>
      <button class="btn btn-primary" onclick="addProduct()">
        Add Product
      </button>
    </div>
  </div>
</section>
