<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Store Inventory</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <main>
      <header id="site-header">
        <h1>Store Inventory</h1>

        <div class="control-container">
          <div class="search-container mr-1r">
            <h2>Search By</h2>
            <div class="flex-row">
              <div style="position: relative">
                <input
                  class="form-control"
                  type="text"
                  id="searchInput"
                  name="search"
                />
                <button id="clear-input" onclick="clearSearchInput()">X</button>
              </div>
              <button
                class="btn btn-primary"
                onclick="debouncedHandleInventoryDisplay()"
              >
                Search
              </button>
            </div>
            <div class="flex-row">
              <div class="labelAndInput">
                <input
                  type="radio"
                  id="productName"
                  name="searchBy"
                  value="name"
                  checked
                />
                <label for="productName">Name</label>
              </div>
              <div class="labelAndInput">
                <input
                  type="radio"
                  id="productUPC"
                  name="searchBy"
                  value="upc"
                  maxlength="12"
                />
                <label for="productName">UPC</label>
              </div>
            </div>
          </div>
          <div class="sort-container mr-1r ml-1r">
            <h2>Sort By</h2>
            <div class="dropdown">
              <button
                id="sortByBtn"
                type="button"
                class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                onclick="toggleSortMenu()"
              >
                Name Ascending
              </button>
              <div class="dropdown-menu" id="sortMenu">
                <div
                  class="dropdown-item sort-by-item"
                  data-value="Name Ascending"
                >
                  Name Ascending
                </div>
                <div
                  class="dropdown-item sort-by-item"
                  data-value="Name Descending"
                >
                  Name Descending
                </div>
                <div class="dropdown-divider"></div>
                <div
                  class="dropdown-item sort-by-item"
                  data-value="UPC Ascending"
                >
                  UPC Ascending
                </div>
                <div
                  class="dropdown-item sort-by-item"
                  data-value="UPC Descending"
                >
                  UPC Descending
                </div>
                <div class="dropdown-divider"></div>
                <div
                  class="dropdown-item sort-by-item"
                  data-value="QTY Ascending"
                >
                  QTY Ascending
                </div>
                <div
                  class="dropdown-item sort-by-item"
                  data-value="QTY Descending"
                >
                  QTY Descending
                </div>
              </div>
            </div>
          </div>
          <div class="ml-1r">
            <h2>Categories</h2>
            <div class="category-container">
              <div class="labelAndInput">
                <input
                  type="checkbox"
                  id="beverages"
                  name="category"
                  value="Beverages"
                  checked="true"
                />
                <label for="beverages"> Beverages</label>
              </div>
              <div class="labelAndInput">
                <input
                  type="checkbox"
                  id="dairy"
                  name="category"
                  value="Dairy"
                  checked="true"
                />
                <label for="dairy"> Dairy</label>
              </div>
              <div class="labelAndInput">
                <input
                  type="checkbox"
                  id="frozen"
                  name="category"
                  value="Frozen"
                  checked="true"
                />
                <label for="frozen"> Frozen</label>
              </div>
              <div class="labelAndInput">
                <input
                  type="checkbox"
                  id="meat"
                  name="category"
                  value="Meat"
                  checked="true"
                />
                <label for="meat"> Meat</label>
              </div>
              <div class="labelAndInput">
                <input
                  type="checkbox"
                  id="pantry"
                  name="category"
                  value="Pantry"
                  checked="true"
                />
                <label for="pantry"> Pantry</label>
              </div>
              <div class="labelAndInput">
                <input
                  type="checkbox"
                  id="produce"
                  name="category"
                  value="Produce"
                  checked="true"
                />
                <label for="produce"> Produce</label>
              </div>
              <div class="labelAndInput">
                <input
                  type="checkbox"
                  id="seafood"
                  name="category"
                  value="Seafood"
                  checked="true"
                />
                <label for="seafood"> Seafood</label>
              </div>
            </div>
          </div>
        </div>
        <div class="control-container">
          <button class="btn btn-primary" onclick="showAddProductModal()">
            Add Product
          </button>
        </div>
      </header>
      <div id="table-container">
        <table class="table table-sm table-striped">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Category</th>
              <th>UPC</th>
              <th>QTY</th>
            </tr>
          </thead>
          <tbody id="inventoryList"></tbody>
        </table>
      </div>
      <section id="productDetailsModal">
        <div id="underlayPD"></div>
        <div class="modalContent">
          <button class="closeButton" onclick="closeProductDetails()">
            &times;
          </button>
          <div class="modalInfo">
            <h1 id="product-name-h1"></h1>
            <div class="flex-row justify-between">
              <div class="modal-block mw-260 mr-1r">
                <h2>Basic Info</h2>
                <div class="flex-row justify-between mb-05r">
                  <div>Category:</div>
                  <select name="categoryChange" id="categoryChange">
                    <option value="Produce">Produce</option>
                    <option value="Dairy">Dairy</option>
                    <option value="Pantry">Pantry</option>
                    <option value="Meat">Meat</option>
                    <option value="Seafood">Seafood</option>
                    <option value="Beverages">Beverages</option>
                    <option value="Frozen">Frozen</option>
                  </select>
                </div>
                <div class="flex-row mb-05r">
                  <div class="mr-1r">UPC:</div>
                  <input
                    type="text"
                    id="upcUpdate"
                    name="upcUpdate"
                    class="form-control form-control-sm"
                  />
                </div>
                <div class="flex-row mb-05r">
                  <div class="mr-1r">QTY:</div>
                  <div id="qtyUpdate"></div>
                </div>
                <div id="basicInfoError" class="errorText"></div>
                <button class="btn btn-primary" onclick="updateBasicInfo()">
                  Update
                </button>
              </div>
              <div class="modal-block">
                <h2>Description</h2>
                <textarea
                  class="form-control description"
                  id="productDescription"
                  rows="4"
                  cols="50"
                  maxlength="300"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="addProductModal">
        <div id="underlayAP"></div>
        <div class="modalContent">
          <button class="closeButton" onclick="closeAddProduct()">
            &times;
          </button>
          <div class="modalInfo">
            <h1>Add Product</h1>
            <div class="form-group">
              <label for="newProductName">Name</label>
              <input
                class="form-control"
                type="text"
                id="newProductName"
                name="newProductName"
              />
            </div>
            <div class="form-group">
              <label for="newProductUPC">UPC</label>
              <input
                class="form-control"
                type="text"
                id="newProductUPC"
                name="newProductUPC"
                maxlength="12"
              />
            </div>
            <div class="form-group">
              <label for="newProductDesc">Description</label>
              <textarea
                class="form-control"
                type="text"
                id="newProductDesc"
                name="newProductDesc"
                maxlength="300"
              ></textarea>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="{% static 'js/inventoryDisplay.js' %}" defer></script>
    <script src="{% static 'js/productDisplay.js' %}" defer></script>
  </body>
</html>
