<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Store Inventory</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <main>
      <header id="site-header">
        <h1>Store Inventory</h1>

        {% include 'search_controls.html' %}
        <div class="control-container">
          <button class="btn btn-primary" onclick="showAddProductModal()">
            Add Product
          </button>
        </div>
      </header>
      <div id="table-container">
        <table class="table table-sm table-striped">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Category</th>
              <th>UPC</th>
              <th>QTY</th>
            </tr>
          </thead>
          <tbody id="inventoryList"></tbody>
        </table>
      </div>
      {% include 'product_details_modal.html' %}
      {% include 'add_product_modal.html' %}
    </main>
    <script src="{% static 'js/inventoryDisplay.js' %}" defer></script>
    <script src="{% static 'js/productDisplay.js' %}" defer></script>
    <div id="toast">
      <div id="toastMessage">Testing fjdsf fdsfas fsdaf f</div>
    </div>
  </body>
</html>
