<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Store Inventory</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <main>
      <header class="site-header">
        <h1>Store Inventory</h1>

        <div class="control-container">
          <div class="search-container">
            <h2>Search By</h2>
            <div class="flex-row">
              <div style="position: relative">
                <input
                  class="form-control"
                  type="text"
                  id="searchInput"
                  name="search"
                />
                <button id="clear-input" onclick="clearSearchInput()">
                  X
                </button>
              </div>
              <button
                class="btn btn-primary"
                onclick="debouncedHandleInventoryDisplay()"
              >
                Search
              </button>
            </div>
            <div class="flex-row">
              <div class="labelAndInput">
                <input
                  type="radio"
                  id="productName"
                  name="searchBy"
                  value="name"
                  checked
                />
                <label for="productName">Name</label>
              </div>
              <div class="labelAndInput">
                <input
                  type="radio"
                  id="productUPC"
                  name="searchBy"
                  value="upc"
                />
                <label for="productName">UPC</label>
              </div>
            </div>
          </div>
          <div>
            <h2>Categories</h2>
            <div class="category-container">
              <div class="labelAndInput">
                <input
                  type="checkbox"
                  id="beverages"
                  name="category"
                  value="Beverages"
                  checked="true"
                />
                <label for="beverages"> Beverages</label>
              </div>
              <div class="labelAndInput">
                <input
                  type="checkbox"
                  id="dairy"
                  name="category"
                  value="Dairy"
                  checked="true"
                />
                <label for="dairy"> Dairy</label>
              </div>
              <div class="labelAndInput">
                <input
                  type="checkbox"
                  id="frozen"
                  name="category"
                  value="Frozen"
                  checked="true"
                />
                <label for="frozen"> Frozen</label>
              </div>
              <div class="labelAndInput">
                <input
                  type="checkbox"
                  id="meat"
                  name="category"
                  value="Meat"
                  checked="true"
                />
                <label for="meat"> Meat</label>
              </div>
              <div class="labelAndInput">
                <input
                  type="checkbox"
                  id="pantry"
                  name="category"
                  value="Pantry"
                  checked="true"
                />
                <label for="pantry"> Pantry</label>
              </div>
              <div class="labelAndInput">
                <input
                  type="checkbox"
                  id="produce"
                  name="category"
                  value="Produce"
                  checked="true"
                />
                <label for="produce"> Produce</label>
              </div>
              <div class="labelAndInput">
                <input
                  type="checkbox"
                  id="seafood"
                  name="category"
                  value="Seafood"
                  checked="true"
                />
                <label for="seafood"> Seafood</label>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="table-container">
        <table class="table table-striped hover-rows">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Category</th>
              <th>UPC</th>
              <th>QTY</th>
            </tr>
          </thead>
          <tbody id="inventoryList"></tbody>
        </table>
      </div>
    </main>
    <script src="{% static 'js/inventory.js' %}" defer></script>
  </body>
</html>
