<section id="productDetailsModal">
  <div id="underlayPD"></div>
  <div class="modalContent">
    <button class="closeButton" onclick="closeProductDetails()">&times;</button>
    <div class="modalInfo">
      <h1 id="product-name-h1"></h1>
      <div class="flex-row justify-between mb-1r">
        <div class="modal-block mw-260 mr-1r flex-col justify-between">
          <div>
            <h2>Basic Info</h2>
            <div class="flex-row justify-between mb-05r">
              <div>Category:</div>
              <select name="categoryChange" id="categoryChange">
                <option value="Produce">Produce</option>
                <option value="Dairy">Dairy</option>
                <option value="Pantry">Pantry</option>
                <option value="Meat">Meat</option>
                <option value="Seafood">Seafood</option>
                <option value="Beverages">Beverages</option>
                <option value="Frozen">Frozen</option>
              </select>
            </div>
            <div class="flex-row mb-05r">
              <div class="mr-1r">UPC:</div>
              <input
                type="text"
                id="upcUpdate"
                name="upcUpdate"
                class="form-control form-control-sm"
                maxlength="12"
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
              />
            </div>
            <div class="flex-row mb-05r">
              <div class="mr-1r">QTY:</div>
              <div id="qtyUpdate"></div>
            </div>
            <div id="basicInfoError" class="errorText"></div>
          </div>
          <button class="btn btn-primary" onclick="updateBasicInfo()">
            Update
          </button>
        </div>
        <div class="modal-block">
          <h2>Description</h2>
          <textarea
            class="form-control description mb-05r"
            id="productDescription"
            rows="4"
            cols="50"
            maxlength="300"
          ></textarea>
          <div id="descriptionUpdateError" class="errorText"></div>
          <button class="btn btn-primary" onclick="updateExtendedProductInfo()">
            Update
          </button>
        </div>
      </div>
      <div class="modal-block mw-260">
        <h2>Add Sale</h2>
        <div class="flex-row mb-05r">
          <div class="mr-1r" for="soldQty">QTY:</div>
          <input
            type="number"
            min="1"
            class="form-control form-control-sm"
            id="soldQty"
            name="soldQty"
            placeholder="1"
          />
        </div>
        <div class="flex-row mb-05r">
          <div class="mr-1r" for="dateSold">Date:</div>
          <input
            type="date"
            id="dateSold"
            class="form-control form-control-sm"
            name="dateSold"
          />
        </div>

        <button type="submit" class="btn btn-primary" onclick="addSale()">
          Submit
        </button>
      </div>
    </div>
  </div>
</section>
