<div class="control-container">
  <div class="search-container mr-1r">
    <h2>Search By</h2>
    <div class="flex-row">
      <div style="position: relative">
        <input
          class="form-control"
          type="text"
          id="searchInput"
          name="search"
        />
        <button id="clear-input" onclick="clearSearchInput()">X</button>
      </div>
      <button
        class="btn btn-primary"
        onclick="debouncedHandleInventoryDisplay()"
      >
        Search
      </button>
    </div>
    <div class="flex-row">
      <div class="labelAndInput">
        <input
          type="radio"
          id="productName"
          name="searchBy"
          value="name"
          checked
        />
        <label for="productName">Name</label>
      </div>
      <div class="labelAndInput">
        <input type="radio" id="productUPC" name="searchBy" value="upc" />
        <label for="productName">UPC</label>
      </div>
    </div>
  </div>
  <div class="sort-container mr-1r ml-1r">
    <h2>Sort By</h2>
    <div class="dropdown">
      <button
        id="sortByBtn"
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        onclick="toggleSortMenu()"
      >
        Name Ascending
      </button>
      <div class="dropdown-menu" id="sortMenu">
        <div class="dropdown-item sort-by-item" data-value="Name Ascending">
          Name Ascending
        </div>
        <div class="dropdown-item sort-by-item" data-value="Name Descending">
          Name Descending
        </div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-item sort-by-item" data-value="UPC Ascending">
          UPC Ascending
        </div>
        <div class="dropdown-item sort-by-item" data-value="UPC Descending">
          UPC Descending
        </div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-item sort-by-item" data-value="QTY Ascending">
          QTY Ascending
        </div>
        <div class="dropdown-item sort-by-item" data-value="QTY Descending">
          QTY Descending
        </div>
      </div>
    </div>
  </div>
  <div class="ml-1r">
    <h2>Categories</h2>
    <div class="category-container">
      <div class="labelAndInput">
        <input
          type="checkbox"
          id="beverages"
          name="category"
          value="Beverages"
          checked="true"
        />
        <label for="beverages"> Beverages</label>
      </div>
      <div class="labelAndInput">
        <input
          type="checkbox"
          id="dairy"
          name="category"
          value="Dairy"
          checked="true"
        />
        <label for="dairy"> Dairy</label>
      </div>
      <div class="labelAndInput">
        <input
          type="checkbox"
          id="frozen"
          name="category"
          value="Frozen"
          checked="true"
        />
        <label for="frozen"> Frozen</label>
      </div>
      <div class="labelAndInput">
        <input
          type="checkbox"
          id="meat"
          name="category"
          value="Meat"
          checked="true"
        />
        <label for="meat"> Meat</label>
      </div>
      <div class="labelAndInput">
        <input
          type="checkbox"
          id="pantry"
          name="category"
          value="Pantry"
          checked="true"
        />
        <label for="pantry"> Pantry</label>
      </div>
      <div class="labelAndInput">
        <input
          type="checkbox"
          id="produce"
          name="category"
          value="Produce"
          checked="true"
        />
        <label for="produce"> Produce</label>
      </div>
      <div class="labelAndInput">
        <input
          type="checkbox"
          id="seafood"
          name="category"
          value="Seafood"
          checked="true"
        />
        <label for="seafood"> Seafood</label>
      </div>
    </div>
  </div>
</div>
